<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="CultureInfo" value="es-PE" />
    <add key="urlIAS" value="http://localhost:9890" />
    <add key="RangoMinutosActivacionJob" value="60" />
    <add key="PGScheme" value="public"/>
    </appSettings>
  <connectionStrings>
    <add name="connectionBD" connectionString="Server=localhost;port=5432;Database=Gladcon Data;Uid=postgres;Pwd=147896321" />
  </connectionStrings>
</configuration>