<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="CultureInfo" value="es-PE" />
    <add key="puertoserviciowindows" value="9880" />
    <add key="RangoMinutosActivacionJob" value="60" />
    <!--URL Web Online-->
    <add key="UrlIASAzure" value="http://localhost/ias" />
	<add key="correo" value="intranet.corporacionpj@gmail.com" />
	<add key="password" value="P147896321jJ" />
  </appSettings>
  <connectionStrings>
    <add name="conectionBd" connectionString="Data Source=.;Initial Catalog=BD_Migracion_Cent;Integrated Security=False;User ID=sa;Password=147896321" providerName="System.Data.SqlClient" />
    <add name="conectionBdExca" connectionString="Data Source=.;Initial Catalog=BD_Migracion_Exca;Integrated Security=False;User ID=sa;Password=147896321" providerName="System.Data.SqlClient" />
    <!--<add name="conectionBd" connectionString="Server=DESKTOP-V4L1OE2\MSSQLSERVER2017;Database=BD_Migracion_Cent;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>