<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <appSettings>
    <add key="CultureInfo" value="es-PE" />
    <!--<add key="IntervaloSegundosJobConsultaEstadoServicioSala" value="10" />--><!--Valor en segundos-->
    <add key="IntervaloMinutosJobConsultaEstadoServicioSala" value="240" /><!--Valor en minutos-->
    <!--Firebase Key-->
    <add key="firebaseServiceKey" value="AAAAeCyNRPo:APA91bHxVL8e4XGrkJ1XpWQYUMra1pKnchbxkjkZOns7xO4C1urldoQyM_imu4XEf4CPbal-LbX0jGMNDTkQQUWnxwgWxDzc92iQNEiWiugzdkgrxsTGXg0inNxDjxAP4YKizFr1-Spp" />
    <!--URL Web Online-->
    <add key="urlWebOnline" value="http://localhost:55077/" />
  </appSettings>
  <connectionStrings>
    <add name="conectionBdSeguridad" connectionString="Data Source=.;Initial Catalog=BD_SEGURIDAD_PJ;Integrated Security=False;User ID=sa;Password= 147896321" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>