<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="CultureInfo" value="es-PE" />
    <!-- Estado Servicio x Sala -->
    <add key="IntervaloMinutosJobConsultaEstadoServicioSala" value="240" /><!--Valor en minutos-->
    <add key="SalasSeleccionadas" value="0" /><!--Dejar vacio para que funcione para todas las salas o agregar 0 para que que no funcione para ninguna sala-->
    <!--Firebase Key-->
    <add key="firebaseServiceKey" value="AAAAeCyNRPo:APA91bHxVL8e4XGrkJ1XpWQYUMra1pKnchbxkjkZOns7xO4C1urldoQyM_imu4XEf4CPbal-LbX0jGMNDTkQQUWnxwgWxDzc92iQNEiWiugzdkgrxsTGXg0inNxDjxAP4YKizFr1-Spp" />
    <!-- Url Alernativo para VPN -->
    <add key="VPN_UrlAlternative" value="http://200.60.148.22:9895" />
    <!-- Registro Progresivo -->
    <add key="DiasHistorialRegistroProgresivo" value="7" />
    <add key="HoraLimpiarHistorial" value="01:00" />
    <add key="puertoserviciowindows" value="9890" />
    <!--Reporte alerta billeteros-->
    <add key="HoraReporteBilletros" value="05:30"/>
    <add key="IntervaloLimpiarLogIAS" value="72"/>
    <!--Verificacion de codigos promocionales-->
    <add key="HoraVerificarCodigos" value="05:30"/>
    <!--Url IAS-->
    <add key="UrlIAS" value="http://localhost:56382"/>
    <!--Ludopatas MINCETUR-->
    <add key="HoraActualizarLudopatas" value="23:10"/>
    <add key="UriLudopatasMincetur" value="https://wsel.mincetur.gob.pe/wsludopatia/api/RegistroLudopatia" />
	<!--Sincro info buk - gestor proyectos-->
	<add key="HoraSincronizarInfoBukGestorPoryectos1" value="23:50"/>
	  
    <!--Para envio de correos-->
    <add key="correo" value="pruebaprogra2@gmail.com" />
    <add key="password" value="vidtebjlyfqrlbpp" />
    <add key="port" value="587" />
    <add key="host" value="smtp.gmail.com" />
    <add key="enableSSL" value="true" />
	<add key="BukApiUri" value="http://40.122.134.6:3010"/>
	<add key="HoraMigracionEmpleadosBuk" value="08:00" />
  </appSettings>
  <connectionStrings>
    <add name="conectionBdSeguridad" connectionString="Data Source=.;Initial Catalog=BD_SEGURIDAD_PJ;Integrated Security=False;User ID=sa;Password=147896321" providerName="System.Data.SqlClient" />
    <add name="connectionBDGladconData" connectionString="Data Source=.;Initial Catalog=BDGladconData;Integrated Security=False;User ID=sa;Password=147896321" providerName="System.Data.SqlClient" />
	<add name="connectionBDTasklyFlowDyd" connectionString="Data Source=.;Initial Catalog=DB_GestorProyectos;Integrated Security=False;User ID=sa;Password=147896321" providerName="System.Data.SqlClient" />
	<add name="connectionBDTasklyFlowHolding" connectionString="Data Source=.;Initial Catalog=BD_gestorProyectos_Pro;Integrated Security=False;User ID=sa;Password=147896321" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.webServer>
    <serverRuntime uploadReadAheadSize="1000485760" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>